body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    margin-top: 50px;
}

h2 {
    color: white;
}

h3 {
    color: #007bff;
    margin-bottom: 20px;
}

.btn-custom {
    background-color: #007bff;
    color: white;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-custom:hover {
        background-color: #0056b3;
    }

.btn-cancel {
    background-color: #dc3545;
    color: white;
}

.btn-edit {
    background-color: #ffc107;
    color: white;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.error {
    color: red;
}

#employeeTable {
    width: 100%;
    border-collapse: collapse;
}

    #employeeTable thead {
        background-color: #007bff;
        color: white;
    }

    #employeeTable th, #employeeTable td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    #employeeTable tbody tr:hover {
        background-color: #f1f1f1;
    }

#employeeFormContainer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#employeeForm label {
    margin-top: 10px;
}

#employeeForm input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
